// IE < 11
// Don't delete.
.lt-ie10 {
    #site-canvas {
        display: none;
    }

    #nocando {
        margin: 200px auto;
        padding: 32px;
        max-width: 440px;
        background: #fff;

        h1 {
            font-size: 24px;
            line-height: 1.1;
            margin-bottom: 32px;
        }
    }
}

/*----------------------------------------------*/
/* 
    This stylesheet is written mobile first. 

    Media queries use max-width or min-width $DesktopWidth.
    Min-width should target landscape-iPads and above.
*/

/*----------------------------------------------*/
/* Variables */
/*----------------------------------------------*/

$debug: rgba(0,0,0,0.05);

$border-gray: lighten($dark-gray, 40);
$darkest-gray: darken($dark-gray, 30);

$DesktopWidth: 1023px;
$TextColor: $darkest-gray;

$body-margin: 0.5em;
$default-font-size: 16px;

/*----------------------------------------------*/
/* Mixins */
/*----------------------------------------------*/

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justify($where) {
    -webkit-justify-content: $where;
    -moz-justify-content: $where;
    -ms-justify-content: $where;
    justify-content: $where;
}

@mixin flexwrap($attr) {
    -webkit-flex-wrap: $attr;
    flex-wrap: $attr;
}

@mixin container() {
    @include flexbox();
    @include flexwrap(wrap);
    @include justify(center);
    align-items: center;
    align-content: space-between;
}

@mixin white-gradient() {
    background: rgba(255,255,255,0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 99%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1) 99%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1) 99%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 99%); /* Standard syntax */
}

/*----------------------------------------------*/
/* In Context */
/*----------------------------------------------*/

$text-color: $dark-gray;
$border-color: $dark-gray;
$border-color-darken: darken($border-color, 5%);
$border-color-lighten: lighten($border-color, 5%);

/*----------------------------------------------*/
/*Fixing Default CSS*/
/*----------------------------------------------*/

html {
    overflow-y: scroll;
    font-family: $default-font;
    text-align: center;
    font-size: $default-font-size;
}

body {
    margin: $body-margin;
}


a, a:visited {
    text-decoration: none;
    color: $ifrcCorporateRed;
    transition: color 0.2s;
}


/*----------------------------------------------*/
/* Flex */
/*----------------------------------------------*/

.flex-row {
    @include container();
    padding: $body-margin;
    box-sizing: border-box;
}


/*----------------------------------------------*/
/* Nav Bar Style*/
/*----------------------------------------------*/

@media (min-width: $DesktopWidth) {
    .nav-menu {
        @include container();
        @include justify(space-between);
    }
}

.wrapper {
    overflow: hidden;
    min-width: 200px;
    min-height: 2em;

    @media (min-width: $DesktopWidth) {
        @include justify(flex-end);
    }
}

.nav-link-container {
    @include flexbox();
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid $light-gray;
    padding: 0 $body-margin 0 $body-margin;

    @media (min-width: $DesktopWidth) {
        border: none;
    }
}

.nav-link-container > .nav-item:last-child {
    padding-right: 2em;
        @media (min-width: $DesktopWidth){
            padding-right: $body-margin;
        }
    }


/* 
   This is the white gradient at end of nav-bar indicating
   that there is more scrollable content.
   The gradient should disappear on desktops.
*/

@media(max-width: $DesktopWidth){
    .nav-link-container:after {
        @include white-gradient;
        position: absolute;
        right: $body-margin * 2 + 0.1em;
        border: none;
        height: 0.9em;
        width: $body-margin*6;
        content: "";
        pointer-events: none;
    }
}

.nav-link-container::-webkit-scrollbar {
    display: none;
}

.nav-icon {
    padding-top: 8px;
    float: left;
    max-height: 50px;
    max-width: 100%;
}

.nav-item {
    white-space: nowrap;
    flex-grow: 1;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-family: 'Lato';
    font-size: 0.8em;
    border-bottom: 3px white solid;
    border-top: 3px white solid;
    transition: color 0.3s ease-in, border-bottom 0.3s ease-in;
    color: $ifrcCorporateRed;
    cursor: pointer;

    &:hover {
        color: darken($ifrcCorporateRed, 20);
        border-bottom: 3px darken($ifrcCorporateRed, 20) solid;
    }
}

