// 1. Global
// ---------

/* Main Colours */
$ifrcBrown: #7A1600;
$ifrcGray: #786A65;

/* FedNet Colours */
$ifrcCorporateRed: #D33F49;
$ifrcFedNetBlue: #00447C;
$ifrcFedNetGreen: #006666;
$ifrcFedNetChocolate: #7A1600;
$ifrcFedNetYellow: #E5B53B;

/* Socondary Colours */
$ifrcYellow: #FFD200;
$ifrcOrange: #FF5113;
$ifrcDarkBlue: #003045;
$ifrcCyan: #009DDB;
$ifrcDarkGreen: #545F1D;
$ifrcGreen: #8FD400;
$ifrcPurple: #5C3160;
$ifrcPink: #D40072;

$dark-gray: #666666;
$light-gray: #cccccc;

$white: #ffffff;
$black: #000000;

/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato');
$default-font: 'Lato', sans-serif;

